:root:has(body[ss]) {
    --anim: 0s;
}

body[paused] .wrapper#outerwrapper,
body[paused] .wrapper#achcont,
body[paused] .wrapper#achcont div,
body[paused] .wrapper#achcont div::before,
body[paused] .wrapper#achcont div::after,
body[paused] .wrapper#achcont div > *,
body[paused] #achicon,
body[paused] #logo,
body[paused] .wrapper#ssdisplay,
body[paused] .wrapper#ssdisplay::before,
body[ss] .wrapper#achcont,
body[ss] .wrapper#achcont div,
body[ss] .wrapper#achcont div::before,
body[ss] .wrapper#achcont div::after,
body[ss] .wrapper#achcont div > *,
body[ss] #achicon,
body[ss] #logo {
    animation-play-state: paused !important;
}

body[ss] .wrapper#achcont > .wrapper#achcontent {
    opacity: 1 !important;
}

body[ss] .wrapper#achcont {
    animation-play-state: paused !important;
    width: 100% !important;
    scale: 1 !important;
}

body[ss] .wrapper#bg {
    border-radius: var(--roundness);
}

body[ss] .wrapper#logo {
    display: none;
}

body[ss] .wrapper#achiconwrapper,
body[ss] .wrapper#achcontent > #title,
body[ss] .wrapper#achcontent > #desc {
    opacity: 1;
}