* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

:root {
    --notifywidth: 300px;
    --notifyheight: 50px;
    --displaytime: 10s;
    --scale: 1;
    --primarycolor: #203e7a;
    --secondarycolor: #0c2a66;
    --tertiarycolor: #ffffff;
    --fontcolor: #ffffff;
    --gradientangle: 90deg;
    --bgimg: "";
    --gameart: "";
    --gameicon: "";
    --bgimgbrightness: 100%;
    --brightness: 100%;
    --roundness: 0px;
    --fontsize: 1;
    --opacity: 1;
    --iconroundness: 0px;
    --fontoutline: none;
    --fontshadow: none;
    --logo: "";
    --decoration: "";
    --base64: url("../img/base64.png");
    --iconscale: 1;
    --iconshadowcolor: #ffb84e99;
    --iconshadow: drop-shadow(0 0 0.25rem var(--iconshadowcolor)) drop-shadow(0 0 0.5rem var(--iconshadowcolor));
    --iconanimcolor: #ffb84e;
    --iconbefore: radial-gradient(circle,var(--iconanimcolor),transparent);
    --iconafter: repeating-conic-gradient(var(--iconanimcolor),transparent);
    --logoscale: 1;
    --decorationscale: 1;
    --anim: 1s;
    --bodyopacity: 0;
    --glow: none;
    --glowsize: 0.75rem;
    --glowcolor: #8a2be2;
    --glowanim: none;
    --glowspeed: 5;
    --blur: 0px;
    --mask: none;
    --badgepos: "end";
    --badgecolor: #203e7a;
    --badgefontcolor: #ffffff;
    --badgesize: 1rem;
    --badgeroundness: 5px;
    --unlockmsgfontcolor: #ffffff;
    --titlefontcolor: #ffffff;
    --descfontcolor: #ffffff;
    --ssimg: url("../img/santextlogobg.png");
    font-size: clamp(0.05rem,0.05rem + 3vmax,12.5rem);
    line-height: 1;
}

html,
body {
    display: grid;
    align-content: center;
    background-color: transparent;
    place-content: center;
}

body {
    opacity: var(--bodyopacity);
    transition: opacity var(--transition);
    width: 100vw;
    height: 100vh;
    mask: var(--mask);
}

.wrapper#outerwrapper {
    --filter: var(--glow);
    position: relative;
    width: var(--notifywidth);
    height: var(--notifyheight);
    place-self: center;
    filter: var(--filter);
    animation: var(--glowanim);
}

@keyframes pulse {
    from { filter: drop-shadow(0 0 calc(var(--glowsize) / 2) transparent) drop-shadow(0 0 calc(var(--glowsize) / 2) transparent); }
    50% { filter: drop-shadow(0 0 var(--glowsize) var(--glowcolor)) drop-shadow(0 0 var(--glowsize) var(--glowcolor)); }
    to { filter: drop-shadow(0 0 calc(var(--glowsize) * 2) transparent) drop-shadow(0 0 calc(var(--glowsize) * 2) transparent); }
}

@keyframes double {
    from { filter: drop-shadow(0 0 calc(var(--glowsize) / 2) transparent) drop-shadow(0 0 calc(var(--glowsize) / 2) transparent); }
    10% { filter: drop-shadow(0 0 calc(var(--glowsize) / 2) var(--glowcolor)) drop-shadow(0 0 calc(var(--glowsize) / 2) var(--glowcolor)); }
    25% { filter: drop-shadow(0 0 calc(var(--glowsize) / 2) transparent) drop-shadow(0 0 calc(var(--glowsize) / 2) transparent); }
    40% { filter: drop-shadow(0 0 var(--glowsize) var(--glowcolor)) drop-shadow(0 0 var(--glowsize) var(--glowcolor)); }
    to { filter: drop-shadow(0 0 calc(var(--glowsize) * 2) transparent) drop-shadow(0 0 calc(var(--glowsize) * 2) transparent); }
}

@keyframes focus {
    from { filter: drop-shadow(0 0 calc(var(--glowsize) / 2) transparent) drop-shadow(0 0 calc(var(--glowsize) / 2) transparent) blur(1.5rem) brightness(250%); }
    10% { filter: drop-shadow(0 0 var(--glowsize) var(--glowcolor)) drop-shadow(0 0 var(--glowsize) var(--glowcolor)); }
    90% { filter: drop-shadow(0 0 var(--glowsize) var(--glowcolor)) drop-shadow(0 0 var(--glowsize) var(--glowcolor)); }
    to { filter: drop-shadow(0 0 calc(var(--glowsize) / 2) transparent) drop-shadow(0 0 calc(var(--glowsize) / 2) transparent) blur(1.5rem) brightness(250%); }
}

@keyframes orbit {
    from { filter: drop-shadow(0 0 var(--glowsize) transparent) drop-shadow(0 0 var(--glowsize) transparent); }
    5% { filter: drop-shadow(0 -0.05rem var(--glowsize) var(--glowcolor)) drop-shadow(0 -0.25rem var(--glowsize) var(--glowcolor)); }
    10% { filter: drop-shadow(0.05rem -0.05rem var(--glowsize) var(--glowcolor)) drop-shadow(0.25rem -0.25rem var(--glowsize) var(--glowcolor)); }
    15% { filter: drop-shadow(0.05rem 0.05rem var(--glowsize) var(--glowcolor)) drop-shadow(0.25rem 0.25rem var(--glowsize) var(--glowcolor)); }
    20% { filter: drop-shadow(-0.05rem 0.05rem var(--glowsize) var(--glowcolor)) drop-shadow(-0.25rem 0.25rem var(--glowsize) var(--glowcolor)); }
    25% { filter: drop-shadow(-0.05rem -0.05rem var(--glowsize) var(--glowcolor)) drop-shadow(-0.25rem -0.25rem var(--glowsize) var(--glowcolor)); }
    30% { filter: drop-shadow(0 -0.05rem var(--glowsize) var(--glowcolor)) drop-shadow(0 -0.25rem var(--glowsize) var(--glowcolor)); }
    40% { filter: drop-shadow(0 0 var(--glowsize) transparent) drop-shadow(0 0 var(--glowsize) transparent); }
    50% { filter: drop-shadow(0 0 var(--glowsize) var(--glowcolor)) drop-shadow(0 0 var(--glowsize) var(--glowcolor)); }
    to { filter: drop-shadow(0 0 var(--glowsize) transparent) drop-shadow(0 0 var(--glowsize) transparent); }
}

@keyframes fluorescent {
    from { filter: drop-shadow(0 0 var(--glowsize) transparent) drop-shadow(0 0 var(--glowsize) transparent) brightness(35%); }
    19% { filter: drop-shadow(0 0 calc(var(--glowsize) / 2) transparent) drop-shadow(0 0 calc(var(--glowsize) / 2) transparent) brightness(35%); }
    20% { filter: drop-shadow(0 0 calc(var(--glowsize) / 2) var(--glowcolor)) drop-shadow(0 0 calc(var(--glowsize) / 2) var(--glowcolor)) brightness(75%); }
    21% { filter: drop-shadow(0 0 calc(var(--glowsize) / 2) transparent) drop-shadow(0 0 calc(var(--glowsize) / 2) transparent) brightness(35%); }
    24% { filter: drop-shadow(0 0 var(--glowsize) transparent) drop-shadow(0 0 var(--glowsize) transparent) brightness(35%); }
    25% { filter: drop-shadow(0 0 var(--glowsize) var(--glowcolor)) drop-shadow(0 0 var(--glowsize) var(--glowcolor)) brightness(90%); }
    26% { filter: drop-shadow(0 0 var(--glowsize) transparent) drop-shadow(0 0 var(--glowsize) transparent) brightness(35%); }
    34% { filter: drop-shadow(0 0 var(--glowsize) transparent) drop-shadow(0 0 var(--glowsize) transparent) brightness(35%); }
    35% { filter: drop-shadow(0 0 var(--glowsize) var(--glowcolor)) drop-shadow(0 0 var(--glowsize) var(--glowcolor)); }
    99% { filter: drop-shadow(0 0 var(--glowsize) var(--glowcolor)) drop-shadow(0 0 var(--glowsize) var(--glowcolor)); }
    to { filter: drop-shadow(0 0 var(--glowsize) transparent) drop-shadow(0 0 var(--glowsize) transparent) brightness(35%); }
}

@keyframes rainbow {
    from { filter: drop-shadow(0 0 var(--glowsize) var(--glowcolor)) drop-shadow(0 0 var(--glowsize) var(--glowcolor)) hue-rotate(0deg); }
    to { filter: drop-shadow(0 0 var(--glowsize) var(--glowcolor)) drop-shadow(0 0 var(--glowsize) var(--glowcolor)) hue-rotate(360deg); }
}

body,
.wrapper#achcont,
.wrapper#bg {
    /* Fixes blurriness in previews */
    will-change: contents;
    backface-visibility: hidden;
}

#achicon,
#logo {
    will-change: contents;
    backface-visibility: hidden;
}

.wrapper#achcont {
    position: absolute;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-self: center;
    align-items: center;
    align-content: center;
    opacity: var(--opacity);
    isolation: isolate;
    border-radius: var(--roundness);
    overflow: hidden;
}

body[bgonly] .wrapper#achcont {
    opacity: 1;
}

.wrapper#bg {
    display: grid;
    grid-column: 1 / -1;
    grid-row-start: 1;
    border-radius: var(--roundness);
    opacity: var(--opacity);
    z-index: -1;
    border: var(--outlinewidth) var(--outline) var(--outlinecolor);
}

.wrapper#achcont,
.wrapper#bg {
    width: 100%;
    height: 100%;
}

body[solid] .wrapper#bg {
    background-color: var(--primarycolor);
}

body[gradient] .wrapper#bg {
    background-image: linear-gradient(var(--gradientangle), var(--primarycolor), var(--secondarycolor));
}

body[bgimg] .wrapper#bg {
    filter: brightness(var(--bgimgbrightness));
}

body[gameart] .wrapper#bg {
    filter: brightness(var(--brightness));
}

body[bgimg] .wrapper#bg,
body[gameart] .wrapper#bg {
    overflow: hidden;
}

body[bgimg] .wrapper#bg::after,
body[gameart] .wrapper#bg::after {
    content: "";
    background: var(--bgimg) center / cover no-repeat;
    filter: blur(var(--blur));
}

.wrapper#achcont > * {
    grid-row-start: 1;
}

.wrapper#achiconwrapper {
    position: relative;
    place-self: center;
    width: calc(var(--notifyheight) - (10px * var(--scale)));
    height: calc(var(--notifyheight) - (10px * var(--scale)));
    grid-column-start: 1;
    margin-inline: calc(5px * var(--scale));
    isolation: isolate;
    transform: scale(var(--iconscale));
}

body[rare]:not([noiconanim]) .wrapper#achiconwrapper,
body[plat]:not([noiconanim]) .wrapper#achiconwrapper {
    filter: var(--iconshadow);
}

.wrapper#achiconwrapper::before,
.wrapper#achiconwrapper::after {
    content: "";
    display: none;
    width: 100%;
    height: 100%;
    mask-image: var(--base64);
    mask-repeat: repeat;
    mask-size: 100%;
    -webkit-mask-image: var(--base64);
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: 100%;
}

body[rare]:not([noiconanim]) .wrapper#achiconwrapper::before,
body[plat]:not([noiconanim]) .wrapper#achiconwrapper::before {
    background-image: var(--iconbefore);
    overflow: hidden;
    z-index: -1;
    animation: steamrotate calc(var(--anim) * 18) linear infinite reverse;
}

body[rare]:not([noiconanim]) .wrapper#achiconwrapper::after,
body[plat]:not([noiconanim]) .wrapper#achiconwrapper::after {
    animation: steamrotate calc(var(--anim) * 6) linear infinite;
    mix-blend-mode: overlay;
    background: var(--iconafter);
    overflow: hidden;
    z-index: -1;
    filter: blur(1rem);
}

@keyframes steamrotate {
    to { transform: rotate(1turn) }
}

#iconborder {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transform: translate(calc(var(--iconborderx) * 1px),calc(var(--iconbordery) * 1px));
    background: var(--iconborder) center / contain no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    scale: var(--iconborderscale);
    z-index: var(--iconborderpos);
}

#achicon {
    width: 85%;
    /* height: 85%; */
    border-radius: var(--iconroundness);
}

body[rare]:not([noiconanim]) .wrapper#achiconwrapper::before,
body[plat]:not([noiconanim]) .wrapper#achiconwrapper::before,
body[rare]:not([noiconanim]) .wrapper#achiconwrapper::after,
body[plat]:not([noiconanim]) .wrapper#achiconwrapper::after,
#achicon {
    display: grid;
    place-self: center;
    grid-column-start: 1;
    grid-row-start: 1;
}

body[nodecoration] .wrapper#achcont > .wrapper#achcontent::before {
    display: none !important;
}

body[nodecoration] .wrapper#achcontent > span {
    grid-column: 1 / -1;
}

#achcontent {
    grid-template-columns: 0fr 1fr 0fr;
    column-gap: calc(10px * var(--scale));
    align-items: center;
    font-size: calc(1rem * var(--fontsize));
    color: var(--fontcolor);
    text-shadow: var(--fontoutline);
    filter: var(--fontshadow);
    grid-column-start: 2;
}

#achcontent > span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    grid-column-start: 2;
    line-height: calc(1.2rem * var(--fontsize));
    word-break: break-word;
    -webkit-box-align: center;
    margin-block: calc((var(--textvspace) * 1px) * var(--scale));
}

#achcontent > #unlockmsg {
    font-size: calc(1rem * var(--unlockmsgfontsize));
    color: var(--unlockmsgfontcolor);
}

#achcontent > #title {
    font-size: calc(1rem * var(--titlefontsize));
    color: var(--titlefontcolor);
}

#achcontent > #desc {
    font-size: calc(1rem * var(--descfontsize));
    color: var(--descfontcolor);
}

#hiddenicon {
    display: inline-block;
    width: calc(0.85rem * var(--fontsize));
    height: calc(0.85rem * var(--fontsize));
    background: var(--hiddenicon) center / contain no-repeat;
    margin-right: calc(0.25rem * var(--fontsize));
    vertical-align: calc(-0.5px * var(--fontsize));
}

#badge {
    position: absolute;
    inset-inline: var(--badgeposx);
    inset-block: var(--badgeposy);
    translate: 0 -50%;
    display: grid;
    text-align: center;
    justify-self: center;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-color: var(--badgecolor);
    color: var(--badgefontcolor);
    font-size: var(--badgesize);
    border-radius: var(--badgeroundness);
    padding: calc(var(--badgesize) / 4) calc(var(--badgesize) / 3);
    filter: drop-shadow(0 0 0.15rem var(--mediumgrey));
    z-index: 100;
}

#badge:not([badgeimg]) {
    height: calc(var(--badgesize) * 1.5);
}

#badge[badgeimg] {
    width: calc(var(--badgesize) * 1.5);
    height: calc(var(--badgesize) * 1.5);
    background: var(--badgeimg) center / contain no-repeat;
    background-color: transparent;
}

.wrapper#ssdisplay {
    --y: 100%;
    --calc: 1;
    display: none;
    width: var(--notifywidth);
    height: calc(var(--notifyheight) * 3.5);
    background-color: transparent;
    opacity: var(--opacity);
    overflow: hidden;
}

body:not([ss])[ssdisplay] .wrapper#ssdisplay {
    display: grid;
}

body[bottomleft] .wrapper#ssdisplay,
body[bottomleft] .wrapper#ssdisplay::before,
body[bottomcenter] .wrapper#ssdisplay,
body[bottomcenter] .wrapper#ssdisplay::before,
body[bottomright] .wrapper#ssdisplay,
body[bottomright] .wrapper#ssdisplay::before {
    border-radius: var(--roundness) var(--roundness) 0 0;
}

body[topleft] .wrapper#ssdisplay,
body[topleft] .wrapper#ssdisplay::before,
body[topcenter] .wrapper#ssdisplay,
body[topcenter] .wrapper#ssdisplay::before,
body[topright] .wrapper#ssdisplay,
body[topright] .wrapper#ssdisplay::before {
    border-radius: 0 0 var(--roundness) var(--roundness);
}

body[bottomleft] .wrapper#ssdisplay,
body[bottomcenter] .wrapper#ssdisplay,
body[bottomright] .wrapper#ssdisplay {
    grid-row-start: 1;
}

body[topleft] .wrapper#ssdisplay,
body[topcenter] .wrapper#ssdisplay,
body[topright] .wrapper#ssdisplay {
    --y: -150%;
    --calc: -1;
    grid-row-start: 2;
}

.wrapper#ssdisplay::before {
    content: "";
    place-self: center;
    width: 100%;
    height: 100%;
    background: var(--ssimg) center / cover no-repeat;
    translate: 0 var(--y);
}

body:not([ss])[ssdisplay][bottomleft] .wrapper#achcont,
body:not([ss])[ssdisplay][bottomleft] .wrapper#bg,
body:not([ss])[ssdisplay][bottomcenter] .wrapper#achcont,
body:not([ss])[ssdisplay][bottomcenter] .wrapper#bg,
body:not([ss])[ssdisplay][bottomright] .wrapper#achcont,
body:not([ss])[ssdisplay][bottomright] .wrapper#bg {
    --ssbr: 0 0 var(--roundness) var(--roundness);
}

body:not([ss])[ssdisplay][topleft] .wrapper#achcont,
body:not([ss])[ssdisplay][topleft] .wrapper#bg,
body:not([ss])[ssdisplay][topcenter] .wrapper#achcont,
body:not([ss])[ssdisplay][topcenter] .wrapper#bg,
body:not([ss])[ssdisplay][topright] .wrapper#achcont,
body:not([ss])[ssdisplay][topright] .wrapper#bg {
    --ssbr: var(--roundness) var(--roundness) 0 0;
}

@keyframes ssslidein {
    to { translate: 0 0; }
}

@keyframes ssslideout {    
    to { translate: 0 var(--y); }
}

@keyframes ssbrin {
    to { border-radius: var(--ssbr); }
}

@keyframes ssbrout {
    to { border-radius: var(--roundness); }
}