@font-face {
    font-family: "Titillium Web";
    src: url("../../../fonts/TitilliumWeb-SemiBold.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../../../fonts/Roboto-Medium.ttf");
}

body {
    font-family: "Titillium Web", "Roboto";
}