.git/
.vscode/
.idea
node_modules/
dist/*.js
dist/**/*.js
deps/san_*
deps/window_titles/
deps/steamworks_build_instructions.md
**/_previous
**/node_modules/
temp/
_release/
_backup/
notify/_template.html
notify/**/*.png
notify/**/*.mp3
**/*.old
gh_token.txt
deps/_linux/
desktop.ini
TODO
/deps/hudhook