/*
    Reference for creating custom presets:
    https://github.com/SteamAchievementNotifier/SteamAchievementNotifier/blob/master/CUSTOMPRESETS.md
*/

/* Primary font */
@font-face {
    font-family: "Noto Sans Light";
    src: url("../../../fonts/NotoSans-Light.ttf");
}

/* Secondary font */
@font-face {
    font-family: "Noto Sans ExtraLight";
    src: url("../../../fonts/NotoSans-ExtraLight.ttf");
}

.wrapper#achcont {
    grid-template-columns: auto 1fr auto;
    opacity: 0;
    animation:
        fadein 0.2s forwards,
        fadeout 0.2s calc(var(--displaytime) - 0.2s) forwards;
}

@keyframes fadein {
    to { opacity: 1; }
}

@keyframes fadeout {
    to { opacity: 0; }
}

/*
    The logo element (hidden via `body[nologo]`)
*/
body:not([nologo]) .wrapper#logo {
    display: grid;
    grid-column-start: 3;
    margin-right: 1.5rem;
    place-self: center;
    isolation: isolate;
    transform: scale(var(--logoscale));
}

.wrapper#logo::before {
    content: "";
    width: 2rem;
    height: 2rem;
    background: var(--logo) center / contain no-repeat;
}

/*
    The decoration element (hidden via `body[nodeco]`)
*/
body:not([nodeco]) span#decoration {
    content: "";
    display: inline-block;
    width: calc(0.85rem * var(--fontsize));
    height: calc(0.85rem * var(--fontsize));
    margin-right: calc(0.25rem * var(--fontsize));
    vertical-align: calc(-0.5px * var(--fontsize));
    scale: calc(1 * var(--fontsize));
    background: var(--decoration) center / contain no-repeat;
    transform: scale(var(--decorationscale));
}

body[alldetails] span#decoration {
    scale: calc(0.85 * var(--fontsize));
}

.wrapper#achcontent {
    grid-template-columns: 0fr 1fr;
    column-gap: 0;
}

/*
    If a user font file is added via Customiser > Presets > Custom Font,
    it will be assigned to "customfont". Otherwise, the specified fallbacks
    are used instead.
*/
#unlockmsg,
#title {
    font-family: "customfont", "Noto Sans Light", "Roboto";
}

#desc {
    font-family: "customfont", "Noto Sans ExtraLight", "Roboto";
}

/*
    Reduce `font-size` of all text and limit to 1 line when all elements have
    been enabled (`[alldetails]`) via Customiser > Preset > Notification Elements
*/
body[alldetails] .wrapper#achcontent > span#unlockmsg,
body[alldetails] .wrapper#achcontent > span#title,
body[alldetails] .wrapper#achcontent > span#desc {
    font-size: calc(0.85rem * var(--fontsize));
    -webkit-line-clamp: 1;
}

#achcontent > #unlockmsg {
    font-size: calc(0.9rem * var(--unlockmsgfontsize));
    color: var(--unlockmsgfontcolor);
    padding-block: calc(0.2rem * var(--unlockmsgfontsize));
}

#achcontent > #title {
    font-size: calc(0.9rem * var(--titlefontsize));
    color: var(--titlefontcolor);
    padding-block: calc(0.2rem * var(--titlefontsize));
}

#achcontent > #desc {
    font-size: calc(0.9rem * var(--descfontsize));
    color: var(--descfontcolor);
    padding-block: calc(0.2rem * var(--descfontsize));
}

/*
    `[ssdisplay]` indicates the Customiser > Preset > Notification Elements >
    Show Screenshot Preview option has been enabled.
    
    `ssslidein`/`ssslideout` are default animations found in `base.css`,
    which are used specifically to animate `#ssdisplay::before` when active
*/
.wrapper#ssdisplay::before {
    animation:
        ssslidein var(--transition) calc(var(--transition) * 2) forwards,
        ssslideout calc(var(--transition) * 2) calc(var(--displaytime) - calc(var(--transition) * 4)) forwards;
}

/*
    `[ss]` indicates that the notification is being loaded in a `webview` tag
    as part of a screenshot.
    
    When `[ss]` is not applied to `body` (i.e. the notification is not being
    loaded as part of a screenshot), if Customiser > Style > Roundness is > 0%,
    un-round the corners while `#ssdisplay::before` is animating
*/
body:not([ss])[ssdisplay] .wrapper#achcont {
    --ssbrin: ssbrin var(--transition) calc(var(--transition) * 2) forwards;
    --ssbrout: ssbrout calc(var(--transition) * 2) calc(var(--displaytime) - calc(var(--transition) * 3.5)) forwards;
    animation:
        slidein calc(var(--transition) * 2) forwards,
        var(--ssbrin),
        var(--ssbrout),
        slideout calc(var(--transition) * 2) calc(var(--displaytime) - calc(var(--transition) * 2)) forwards;
}

body:not([ss])[ssdisplay] .wrapper#bg {
    animation:
        var(--ssbrin),
        var(--ssbrout);
}

/*
    Force `opacity: 1` when loaded as part of a screenshot
*/
body[ss] .wrapper#achcont,
body[ss] .wrapper#achcontent {
    opacity: 1;
}

/*
    Remove all animations when loaded as part of a screenshot
*/
body[ss] .wrapper#achcont {
    animation: none;
}