<h1 id="pptitle"></h1>
<div class="ppcontent">
    <div class="ppheader" id="ppusagetitle"></div>
    <div class="ppbodywrapper">
        <p id="ppusagecontent"></p>
        <ul class="ppbodyembed">
            <li id="ppstats"></li>
            <li id="ppusername"></li>
            <li id="ppsteamgames"></li>
        </ul>
        <i id="ppusagefooter"></i>
    </div>

    <div class="ppheader" id="ppkey64title"></div>
    <div class="ppbodywrapper" id="ppkey64content">
        <p id="ppauth"></p>
        <p id="ppnoauth"></p>
    </div>

    <div class="ppheader" id="ppstoragetitle"></div>
    <div class="ppbodywrapper" id="ppstoragecontent">
        <p id="ppstorage"></p>
        <p id="pppersist"></p>
        <p id="ppdelete"></p>
        <ul class="ppbodyembed">
            <li>
                <img src="../icon/windows.svg" alt="">
                <span class="path" id="ppwinpath"></span>
            </li>
            <li>
                <img src="../icon/linux.png" alt="">
                <span class="path" id="pplinuxpath"></span>
            </li>
            <li>
                <img src="../icon/mac.svg" alt="">
                <span id="ppmacpath"></span>
            </li>
        </ul>
    </div>

    <div class="ppheader" id="ppcollecttitle"></div>
    <div class="ppbodywrapper" id="ppcollectcontent">
        <p id="ppnosend"></p>
        <p id="ppconsent"></p>
        <p id="ppexclude"></p>
        <p id="pprequests"></p>
    </div>

    <div class="ppheader" id="ppusertitle"></div>
    <div class="ppbodywrapper" id="ppusercontent">
        <p id="ppsteamtou"></p>
    </div>
</div>