body {
    --percentcolor: #8b5f3f;
    --percentaccent: #b17f40;
    place-content: center;
    font-family: "Roboto";
    scale: 0.9;
    will-change: scale, contents;
}

body[bronze] {
    --percentcolor: #8b5f3f;
    --percentaccent: #b17f40;
}

body[silver] {
    --percentcolor: #898989;
    --percentaccent: #d2d2d2;
}

body[gold] {
    --percentcolor: #c89600;
    --percentaccent: #ffd045;
}

body:has(.mainwrapper[ss]) {
    align-items: start;
}

.mainwrapper {
    height: calc(100vw / var(--minheight));
    padding: 1.5rem 1.25rem;
    overflow: visible;
}

.mainwrapper[ss] {
    padding: 0 1.25rem 1rem;
    align-items: start;
}

.notifywrapper {
    position: relative;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-template-columns: 18vmax 1fr 18vmax !important;
    grid-template-rows: 1fr;
    gap: 0;
    scale: 0 0;
    width: calc(var(--minheight) * 0.7);
    height: calc(var(--minheight) * 0.7);
    padding: 0;
    border-radius: var(--br);
    text-align: center;
    animation:
        scaleup calc(var(--transition) * 2.5) forwards,
        grow calc(var(--transition) * 5) calc(var(--transition) * 5) forwards,
        shrink calc(var(--transition) * 5) calc(var(--time) - (var(--transition) * 5) - (var(--transition) * 5)) forwards,
        scaledown calc(var(--transition) * 2.5) calc(var(--time) - (var(--transition) * 2.5)) forwards;
    -webkit-line-clamp: 3;
}

.mainwrapper[ss] > .notifywrapper {
    border-radius: var(--br);
    animation:
        scaleup calc(var(--transition) * 2.5) forwards,
        ssgrow calc(var(--transition) * 5) calc(var(--transition) * 5) forwards,
        ssshrink calc(var(--transition) * 5) calc(var(--time) - (var(--transition) * 5) - (var(--transition) * 5)) forwards,
        scaledown calc(var(--transition) * 2.5) calc(var(--time) - (var(--transition) * 2.5)) forwards;
}

body[noanim] .notifywrapper {
    padding-right: 3.5vmax;
}

@keyframes grow {
    to {
        padding: 1vmax;
        padding-right: 3.5vmax;
        width: 100%;
    }
}

@keyframes shrink {
    to {
        padding: 0;
        width: calc(var(--minheight) * 0.7);
    }
}

@keyframes ssgrow {
    to {
        padding: 1vmax;
        padding-right: 3.5vmax;
        width: 100%;
        border-radius: 0 0 var(--br) var(--br);
    }
}

@keyframes ssshrink {
    to {
        padding: 0;
        width: calc(var(--minheight) * 0.7);
        border-radius: var(--br);
    }
}

@keyframes scaleup {
    to { scale: 1 1; }
}

@keyframes scaledown {
    to { scale: 0 0 ; }
}

.notifywrapper > *:not(.iconwrapper,.overlaywrapper) {
    grid-row-start: 1;
    translate: -1rem 0;
    opacity: 0;
    animation:
        fadeinleft calc(var(--transition) * 5) calc(var(--transition) * 10) forwards,
        fadeoutleft calc(var(--transition) * 5) calc(var(--time) - (var(--time) / 8) - (var(--transition) * 5)) forwards;
}

body[noanim] .notifywrapper > *:not(.iconwrapper,.overlaywrapper) {
    translate: 0 0 !important;
}

.textwrapper {
    grid-column-start: 2;
    row-gap: 1vmax;
}

#msg,
#desc {
    display: none;
}

#title {
    font-size: calc(4vmax * var(--fontsize));
    -webkit-line-clamp: 3;
}

body[alldetails] #msg,
body[alldetails] #title,
body[alldetails] #desc {
    display: -webkit-box;
    font-size: calc(3vmax * var(--fontsize));
    -webkit-line-clamp: 1;
}

#percent::after {
    content: attr(percent);
}

@keyframes fadeinleft {
    to {
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes fadeoutleft {
    to {
        translate: -1rem 0;
        opacity: 0;
    }
}

.overlaywrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--minheight) * 0.7);
    height: calc(var(--minheight) * 0.7);
    border-radius: var(--iconbr);
    overflow: hidden;
    z-index: 50;
}

#overlay {
    width: 25%;
    height: 300%;
    rotate: -45deg;
    translate: 50% 100%;
    padding: 1vmax;
    background-color: rgb(255,255,255);
    z-index: 50;
    box-shadow: 0 0 2rem rgb(135,206,250);
    filter: blur(0.75rem);
    animation: shing calc(var(--transition) * 10) calc(var(--transition) * 2.5) forwards;
}

@keyframes shing {
    to { translate: 0 -100%; }
}

.iconwrapper {
    position: absolute;
    top: 0;
    left: 0;
    scale: 0 0;
    width: calc(var(--minheight) * 0.7);
    height: calc(var(--minheight) * 0.7);
    max-width: unset;
    animation:
        scaleup calc(var(--transition) * 2.5) calc(var(--transition) * 1) forwards,
        pad calc(var(--transition) * 2.5) calc(var(--transition) * 5) forwards,
        nopad calc(var(--transition) * 2.5) calc(var(--time) - (var(--transition) * 5) - (var(--transition) * 2.5)) forwards,
        scaledown calc(var(--transition) * 2.5) calc(var(--time) - (var(--transition) * 1) - (var(--transition) * 2.5)) forwards;
    z-index: 10;
}

.rareR {
    width: 20vmax;
    height: 20vmax;
}

body[noanim] .iconwrapper {
    padding: 1vmax;
}

@keyframes pad {
    to { padding: 1vmax; }
}

@keyframes nopad {
    to { padding: 0; }
}

.trophywrapper {
    grid-column-start: 3;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    gap: 0.2rem;
    font-size: calc(4vmax * var(--fontsize));
    color: var(--percentcolor);
}

.trophywrapper::before {
    content: "";
    grid-column-start: 1;
    grid-row-start: 1;
    -webkit-mask-image: var(--sanlogotrophy);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    background: linear-gradient(to right,var(--percentcolor) 30%,var(--percentaccent),var(--percentcolor) 70%);
}

.trophywrapper > img {
    grid-column-start: 1;
    grid-row-start: 1;
    place-self: center;
    width: calc(4vmax * var(--fontsize));
    transform: scale(0,0) !important;
}

.shadowwrapper {
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    width: calc(var(--minheight) * 0.7);
    height: calc(var(--minheight) * 0.7);
    scale: 0 0;
    padding: 0 !important;
    background-color: var(--secondary);
    opacity: var(--op);
    border-radius: 50%;
    filter: blur(0.4rem) drop-shadow(0 0 0.5rem black);
    animation:
        scaleup calc(var(--transition) * 2.5) forwards,
        br calc(var(--transition) * 5) calc(var(--transition) * 5) forwards,
        grow calc(var(--transition) * 5) calc(var(--transition) * 5) forwards,
        nobr calc(var(--transition) * 5) calc(var(--time) - (var(--transition) * 5) - (var(--transition) * 5)) forwards,
        shrink calc(var(--transition) * 5) calc(var(--time) - (var(--transition) * 5) - (var(--transition) * 5)) forwards,
        scaledown calc(var(--transition) * 2.5) calc(var(--time) - (var(--transition) * 2.5)) forwards;
    z-index: -1;
}

body[noanim] .shadowwrapper {
    scale: 1 1 !important;
    width: 100% !important;
    border-radius: var(--br) !important;
}

@keyframes br {
    to { border-radius: var(--br); }
}

@keyframes nobr {
    to { border-radius: 50%; }
}

.shadow {
    background-color: var(--secondary);
    scale: 1 1;
    translate: 0 0;
    border-radius: 50%;
    opacity: 0.85;
    filter: blur(0.25rem);
}

#one {
    animation: move1 calc(var(--transition) * 18) ease-in-out alternate infinite;
}

#two {
    animation: move2 calc(var(--transition) * 32) calc(var(--transition) * 12) ease-in-out alternate infinite;
}

@keyframes move1 {
    50% {
        scale: 1.1 0.9;
        translate: 0 0;
        opacity: 1;
    }

    to {
        scale: 1.1 1.2;
        translate: 65% 0;
        opacity: 0.85;
    }
}

@keyframes move2 {
    50% {
        scale: 1.1 0.95;
        translate: 0 0;
        opacity: 1;
    }

    to {
        scale: 1.1 1.2;
        translate: -65% 0;
        opacity: 0.85;
    }
}

.screenshotwrapper {
    padding-inline: 1.25rem;
    border-radius: 0;
    filter: drop-shadow(0 0 0.35rem var(--secondary));
    translate: 0 50%;
    transform-origin: bottom;
    opacity: 0;
    animation:
        ssslideup calc(var(--transition) * 2.5) calc(var(--transition) * 7.5) ease-in-out forwards,
        ssslidedown calc(var(--transition) * 2.5) calc(var(--time) - (var(--transition) * 14)) ease-in-out forwards !important;
}

.screenshotwrapper > img {
    border-radius: var(--br) var(--br) 0 0;
}

@keyframes ssslideup {
    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes ssslidedown {
    to {
        opacity: 0;
        translate: 0 50%;
    }
}