@font-face {
    font-family: "Source Sans Pro Light";
    src: url("../../../fonts/SourceSansPro-Light.ttf");
}

@font-face {
    font-family: "Source Sans Pro ExtraLight";
    src: url("../../../fonts/SourceSansPro-ExtraLight.ttf");
}

.wrapper#achcont {
    --translate: 10vw 0;
    --achcontopacity: var(--opacity);
    grid-template-columns: auto 1fr auto;
    opacity: 0;
    animation:
        slidein calc(var(--transition) * 2) forwards,
        slideout calc(var(--transition) * 2) calc(var(--displaytime) - calc(var(--transition) * 2)) forwards;
}

body[bgonly] .wrapper#achcont {
    --achcontopacity: 1;
}

body[bgonly] .wrapper#bg {
    opacity: var(--opacity);
}

@keyframes slidein {
    from { translate: var(--translate); }
    to {
        opacity: var(--achcontopacity);
        translate: 0;
    }
}

@keyframes slideout {
    from { translate: 0; }
    to {
        opacity: 0;
        translate: var(--translate);
    }
}

body[topleft] .wrapper#achcont,
body[bottomleft] .wrapper#achcont {
    --translate: -10vw 0;
}

body[topcenter] .wrapper#achcont {
    --translate: 0 -10vh;
}

body[bottomcenter] .wrapper#achcont {
    --translate: 0 10vh;
}

.wrapper#achiconwrapper {
    scale: 0.85;
    opacity: 0;
}

@keyframes fadein {
    to { opacity: 1; }
}

.wrapper#achcontent {
    --translate: 5% 0;
    translate: var(--translate);
    column-gap: calc(0.5rem * var(--fontsize));
    animation: textslide calc(var(--transition) * 2) linear forwards;
}

@keyframes textslide {
    from { translate: var(--translate); }
    to { translate: 0 0; }
}

.wrapper#achcontent::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    scale: calc(1.75 * var(--fontsize));
    background: var(--decoration) center / contain no-repeat;
    grid-column-start: 1;
    grid-row-start: 1;
}

.wrapper#logo {
    display: grid;
    grid-column-start: 3;
    margin-right: 1.5rem;
    place-self: center;
    opacity: 0;
    isolation: isolate;
}

.wrapper#logo::before {
    content: "";
    width: 2rem;
    height: 2rem;
    background: var(--logo) center / contain no-repeat;
}

.wrapper#logo::after {
    content: "";
    width: 3rem;
    height: 3rem;
    scale: 0;
    background-color: transparent;
    outline: calc(1px * var(--scale)) solid var(--tertiarycolor);
    border-radius: 50%;
    filter: blur(calc(0.65px * var(--scale)));
    z-index: -1;
    animation: expandcircle calc(var(--transition) * 5) calc(var(--displaytime) / 4) linear forwards;
}

@keyframes expandcircle {
    from {
        opacity: 1;
        scale: 0;
    }

    25% {
        opacity: 1;
        scale: 0.5;
    }

    50% {
        opacity: 1;
        scale: 0.75;
    }

    to {
        opacity: 0;
        scale: 1;
    }
}

.wrapper#logo::before,
.wrapper#logo::after {
    grid-column-start: 1;
    grid-row-start: 1;
    place-self: center;
}

.wrapper#achiconwrapper,
.wrapper#logo {
    animation: fadein calc(var(--transition) * 5) forwards;
}

body[alldetails] .wrapper#achcontent::before {
    scale: 1.35;
}

body[alldetails] .wrapper#achcontent > span {
    font-size: calc(0.85rem * var(--fontsize));
    -webkit-line-clamp: 1;
}

body[alldetails]:not([ss]) .wrapper#achcontent > span:not(#unlockmsg),
body:not([alldetails]) .wrapper#achcontent > span:not(#title) {
    grid-column: 1 / span 2;
}

body:not([alldetails]) #unlockmsg,
body[ss] #unlockmsg {
    display: none;
}

#unlockmsg,
#title {
    font-family: "customfont", "Source Sans Pro Light", "Roboto";
}

#desc {
    font-family: "customfont", "Source Sans Pro ExtraLight", "Roboto";
    font-size: calc(0.9rem * var(--fontsize));
}

body[ss] > .wrapper#achcont,
body[ss] .wrapper#achcontent {
    --translate: 0 0;
    opacity: 1;
}

body[ss] .wrapper#logo {
    display: grid;
    opacity: 1;
}

body[ss] .wrapper#achcontent > #desc {
    grid-column: 1 / span 2;
}