:root {
    --addroundness: calc(var(--roundness) * 1.15);
}

@font-face {
    font-family: "Titillium Web Regular";
    src: url("../../../fonts/TitilliumWeb-Regular.ttf");
}

.wrapper#achcont {
    --scale: 0.85;
    --finish:
        shrink calc(var(--transition) * 2) calc(var(--displaytime) - (var(--transition) * 12)) forwards,
        popout calc(var(--transition) * 2) calc(var(--displaytime) - (var(--transition) * 2)) forwards;
    position: relative;
    grid-template-columns: auto 1fr;
    width: 16.6%;
    place-self: center;
    scale: 0;
    animation:
        popin calc(var(--transition) * 2) forwards,
        expand calc(var(--transition) * 2) calc(var(--transition) * 10) forwards,
        var(--finish);
    will-change: contents;
    overflow: visible;
}

body[fastanim] .wrapper#achcont,
body[fastanim] .wrapper#ssdisplay::before {
    --finish: fadeout calc(var(--transition) * 2) calc(var(--displaytime) - (var(--transition) * 2)) forwards;
}

@keyframes popin {
    50% { scale: 1; }
    to { scale: var(--scale); }
}

@keyframes popout {
    50% { scale: 1; }
    to { scale: 0; }
}

@keyframes expand {
    to { width: 100%; }
}

@keyframes shrink {
    to { width: 16.6%; }
}

.wrapper#bg {
    --finish: resetbr var(--transition) calc(var(--displaytime) - (var(--transition) * 10)) forwards;
    width: 100%;
    border-radius: 50%;
    animation:
        setbr var(--transition) calc(var(--transition) * 8) forwards,
        var(--finish);
}

body[fastanim] .wrapper#bg {
    --finish: none;
}

@keyframes setbr {
    to { border-radius: var(--addroundness); }
}

@keyframes resetbr {
    to { border-radius: 50%; }
}

.wrapper#logo,
#bgelems {
    place-self: center;
    grid-column: 1 / -1;
    border-radius: 50%;
}

.wrapper#logo {
    --scale: 0.75;
    --finish: popin calc(var(--transition) * 2) calc(var(--displaytime) - (var(--transition) * 10)) forwards;
    width: var(--notifyheight);
    height: var(--notifyheight);
    scale: var(--scale);
    background: var(--logo) center / contain no-repeat;
    z-index: 100;
    animation:
        popout calc(var(--transition) * 2) calc(var(--transition) * 8) forwards,
        var(--finish);
}

body[fastanim] .wrapper#logo {
    --finish: none;
}

#bgelems {
    display: grid;
    width: 100%;
    height: 100%;
    opacity: var(--opacity);
}

#bgelems > div {
    --delay: 0;
    --finish: none;
    width: 100%;
    height: 100%;
    scale: 0;
    border-radius: 50%;
    grid-column-start: 1;
    grid-row-start: 1;
    isolation: isolate;
    z-index: -1;
    animation:
        scaleandfade calc(var(--transition) * 6) calc(var(--transition) * var(--delay)) forwards,
        var(--finish);
}

@keyframes scaleandfade {
    from {
        scale: 0;
        opacity: 1;
    }

    50% {
        scale: 1;
        opacity: 1;
    }

    85% {
        scale: 1;
        opacity: 1;
    }

    to {
        scale: 0;
        opacity: 0;
    }
}

#bgelems > div:nth-child(1) {
    --finish: scaleandfade calc(var(--transition) * 6) calc(var(--displaytime) - (var(--transition) * 10)) forwards;
    background-color: var(--secondarycolor);
}

#bgelems > div:nth-child(2) {
    --delay: 2;
    --finish: scaleandfade calc(var(--transition) * 6) calc(var(--displaytime) - (var(--transition) * 8)) forwards;
    background-color: var(--tertiarycolor);
}

#bgelems > div:nth-child(3) {
    --delay: 4;
    --finish: scaleandfade calc(var(--transition) * 6) calc(var(--displaytime) - (var(--transition) * 6)) forwards;
    background-color: var(--primarycolor);
}

body[fastanim] .wrapper#achcont > #bgelems > div {
    --finish: none;
}

.wrapper#achiconwrapper {
    justify-self: start;
    opacity: 0;
}

.wrapper#achcontent {
    column-gap: 0;
    position: absolute;
    padding-inline: 0.25rem 0.75rem;
}

.wrapper#achcontent > span {
    opacity: 0;
    line-height: calc(1.25rem * var(--fontsize));
}

.wrapper#achiconwrapper,
#unlockmsg,
#title {
    --finish: none;
    animation:
        fadein calc(var(--transition) * 2) calc(var(--transition) * 12) forwards,
        var(--finish);
}

.wrapper#achiconwrapper {
    --finish: fadeout calc(var(--transition) * 2) calc(var(--displaytime) - (var(--transition) * 14)) forwards
}

#unlockmsg,
#title {
    --finish: fadeout calc(var(--transition) * 2) calc(var(--displaytime) / 2 - (var(--transition) * 4)) forwards;
}

#unlockmsg {
    grid-row-start: 1;
}

body[fastanim] .wrapper#achcontent > #unlockmsg {
    display: none;
}

#title {
    grid-row-start: 2;
}

body[fastanim] .wrapper#achcontent > #title,
body[ss] .wrapper#achcontent > #title {
    grid-row-start: 1;
}

#title,
#desc {
    font-family: "customfont", "Titillium Web Regular", "Roboto";
}

.wrapper#achcontent > #desc {
    --finish: fadeout calc(var(--transition) * 2) calc(var(--displaytime) - (var(--transition) * 14)) forwards;
    grid-row: 1 / span 2;
    align-self: center;
    -webkit-line-clamp: 2;
    font-size: calc(var(--fontsize) * 0.9);
    animation:
        fadein calc(var(--transition) * 2) calc(var(--displaytime) / 2 - (var(--transition) * 2)) forwards,
        var(--finish);
}

body[fastanim] .wrapper#achcontent > #desc {
    animation:
        fadein calc(var(--transition) * 2) calc(var(--transition) * 12) forwards,
        var(--finish);
}

body[fastanim] .wrapper#achcontent > #desc,
body[ss] .wrapper#achcontent > #desc {
    grid-row-start: 2;
}

body[fastanim] .wrapper#achcont > .wrapper#achiconwrapper,
body[fastanim] .wrapper#achcont > .wrapper#achcontent > span {
    --finish: none;
}

@keyframes fadein {
    to { opacity: 1; }
}

@keyframes fadeout {
    to { opacity: 0; }
}

body[fastanim] .wrapper#achcontent > #title,
body[ss] .wrapper#achcontent > #title {
    font-family: "customfont", "Titillium Web", "Roboto";
}

body[ss] .wrapper#logo,
body[ss] #bgelems,
body[ss] #unlockmsg {
    display: none;
}

.wrapper#ssdisplay {
    position: relative;
    height: calc(var(--notifyheight) * 3.01725);
    top: calc((var(--notifyheight) / 3.25) * var(--calc));
    scale: 0.85;
}

.wrapper#ssdisplay::before {
    --finish: ssslideout calc(var(--transition) * 2) calc(var(--displaytime) - (var(--transition) * 14)) forwards;
    animation:
        ssslidein calc(var(--transition) * 2) calc(var(--transition) * 12) forwards,
        var(--finish);
}

body:not([ss])[ssdisplay][bottomleft] .wrapper#achcont,
body:not([ss])[ssdisplay][bottomleft] .wrapper#bg,
body:not([ss])[ssdisplay][bottomcenter] .wrapper#achcont,
body:not([ss])[ssdisplay][bottomcenter] .wrapper#bg,
body:not([ss])[ssdisplay][bottomright] .wrapper#achcont,
body:not([ss])[ssdisplay][bottomright] .wrapper#bg {
    --ssbr: 0 0 var(--addroundness) var(--addroundness);
}

body:not([ss])[ssdisplay][topleft] .wrapper#achcont,
body:not([ss])[ssdisplay][topleft] .wrapper#bg,
body:not([ss])[ssdisplay][topcenter] .wrapper#achcont,
body:not([ss])[ssdisplay][topcenter] .wrapper#bg,
body:not([ss])[ssdisplay][topright] .wrapper#achcont,
body:not([ss])[ssdisplay][topright] .wrapper#bg {
    --ssbr: var(--addroundness) var(--addroundness) 0 0;
}

body:not([ss])[ssdisplay] .wrapper#bg {
    --ssbrin: ssbrin calc(var(--transition) * 2) calc(var(--transition) * 11) forwards;
    --ssbrout: ssbrout calc(var(--transition) * 2) calc(var(--displaytime) - (var(--transition) * 13)) forwards;
    animation:
        setbr var(--transition) calc(var(--transition) * 8) forwards,
        var(--ssbrin),
        var(--ssbrout),
        var(--finish);
}

body:not([ss])[ssdisplay][fastanim] .wrapper#bg {
    --ssbrout: none;
}