@font-face {
    font-family: "Noto Sans";
    src: url("./store/fonts/NotoSans-Regular.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("./store/fonts/SourceSansPro-Light.ttf");
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Segoe UI", "Noto Sans";
    padding: 0;
    margin: 0;
    overflow: hidden;
    user-select: none;
    will-change: contents;
    opacity: 1;
}

#maincont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #101010;
    border-radius: 20px;
}

#imgcont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90px;
    height: 150px;
    animation: grow 0.5s 1s forwards;
    overflow: hidden;
}

#circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90px;
    height: 90px;
    background: radial-gradient(circle, rgba(48,92,184,1) 0%, rgba(27,52,102,1) 75%);
    border: 2px solid white;
    border-radius: 50%;
    transform: scale(0%,0%);
    animation: popin 0.5s ease forwards;
    transition: 1s;
}

#trophy {
    animation: spin 1s ease-in-out infinite;
}

#textcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadein 0.5s 1.2s forwards;
}

#sa {
    font-family: "Segoe UI", "Noto Sans";
    font-weight: bold;
    font-size: 26px;
    margin-top: 5px;
    letter-spacing: 0.5px;
    -webkit-text-stroke: 1px rgba(27,52,102,1);
}

#n {
    background: radial-gradient(circle, rgba(48,92,184,1) 0%, rgba(27,52,102,1) 100%);
    font-family: "Segoe UI", "Noto Sans";
    font-weight: bold;
    font-style: italic;
    font-size: 63px;
    margin-top: -20px;
    letter-spacing: 1px;
    -webkit-text-stroke: 0.5px white;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#logcont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#log {
    font-family: "Bahnschrift", "Source Sans Pro";
    font-size: 12px;
    opacity: 0;
    transition: 0.2s;
    animation: fadein 0.5s 1.5s forwards;
}

@keyframes popin {
    0% { transform: scale(0%,0%); }
    50% { transform: scale(150%,150%); }
    100% { transform: scale(100%,100%); }
}

@keyframes spin {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

@keyframes grow {
    0% { width: 90px; }
    100% { width: 400px; }
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
